html{
    overflow-y: scrollable;
}

body{
    background-image: url(Assets/Images/background.jpg);
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: maroon;
}

#container{
    min-width: 100%;
    min-height: 95vh;
    overflow: hidden;
}

#backgroundCredit{
    position: absolute;
    bottom: 0;
    right: 0;
    color: lightgray;
}

#nav{
    min-width: 100vw;
    border: solid black 1px;
    align-content: right;
    background-color: maroon;
}

/* Home Page */
#container{
    align-content: center;
    text-align: center;
}

#bioHeader{
    text-align: center;
    text-decoration-line: underline;
}

.bioPic{
    margin-right: 10px;
    border: solid maroon 2px;
    border-radius: 10px;
}

.aboutMe{
    margin-top: 0px;
    font-size: 15px;
    color: maroon;
}

/* Resume Page */
.resumeWrapper{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    padding-top: 20px;
}

#resume{
   height: 75vh;
}

/* Contact Page */
.contentWrapper{
    text-align: center;
}


/* Apps Page */
#appCardsContainer{
    padding-top: 5vh;
}

#appCard{
    border-radius: 10px;
    border: solid maroon 1px;
    background-color: gray;
}

#rowH{
    height: fit-content;
}